.profileBlock-main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem auto;
    max-width: 30%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 1rem;
    background-color: white;
}

.profileBlock-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

}

.profileBlock-image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Makes the container circular */
    overflow: hidden;
    /* Ensures the image stays within the circular container */
}

.profileBlock-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire circular container */
}

.profileBlock-text-username {
    font-size: 22px;
    font-family: var(--font-base);
    color: var(--color-DarkGreen);
    margin: 1rem auto;
}
.profileBlockButton{
    background-color: var(--color-icon);
    color: white;
}
.profileBlockButton:hover{
    background-color: var(--color-Yellow);
    color: var(--color-DarkGreen);
}

.profileBlock-email-container {
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    margin: 1rem auto;
    color: var(--color-DarkGreen);
}

.profileBlock-text {
    margin: 1rem auto;
    font-family: var(--font-base);
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.profileBlock-password-link {

    font-family: var(--font-base);
    font-size: 13px;
    text-decoration: underline;
    font-weight: 600;
    color: #1473e6;
    
}




/* Media query for screens smaller than 576px (e.g., smartphones) */
@media only screen and (max-width: 575.98px) {
    .profileBlock-main-container {
        margin: 1rem auto;
        max-width: 95%;
    }

    .profileBlock-image-container {
        width: 80px;
        height: 80px;
    }
}

/* Media query for screens between 576px and 767px (e.g., larger smartphones and small tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .profileBlock-main-container {
        margin: 1rem auto;
        max-width: 100%;
    }

    .profileBlock-image-container {
        width: 80px;
        height: 80px;
    }
}

/* Media query for screens between 768px and 991px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {}

/* Media query for screens between 992px and 1199px (e.g., larger tablets and small laptops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

/* Media query for screens 1200px and larger (e.g., desktops) */
@media only screen and (min-width: 1200px) {}