.policy-progress-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 700px;
    margin: 2rem auto;
    justify-content: center;
}

.progress-bar {
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    text-align: center;
    color: white;
    transition: width 0.5s ease;
    /* Smooth transition for width change */
}

.progress-label {
    line-height: 20px;
}

.policy-details {
    margin-top: 20px;
}

.edit-form {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.actions {
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}