.dashHomeHeader-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1rem auto 1rem 1rem;
    padding: 1rem;
    width: 95%;
    height: 20%;
    /* border-radius: 8px; */
    /* border: 1px solid gray; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    
}

.dashHomeHeader-container:hover {
    transform: scale(1.005);
}

.dashHomeHeader-title {
    font-size: 35px;
    font-family: var(--font-base);

}

.dashHomeHeader-username {
    font-weight: bold;
}

.dashHomeHeader-bellow-div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dashHomeHeader-date-icon {
    font-size: 20px;
    margin-right: .5rem;
}

.dashHomeHeader-date-text {
    font-family: var(--font-base);
    font-size: 14px;

}




/* Media query for screens smaller than 576px (e.g., smartphones) */
@media only screen and (max-width: 575.98px) {
    .dashHomeHeader-container {
        justify-content: center;
        margin: 1rem auto 1rem 1rem;
        background-color: white;
        max-width: 95%;
    }

    .dashHomeHeader-title {
        font-size: 28px;

    }
}

/* Media query for screens between 576px and 767px (e.g., larger smartphones and small tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .dashHomeHeader-container {
        justify-content: center;
        margin: 1rem auto 1rem 1rem;
        background-color: white;
        max-width: 95%;
    }

    .dashHomeHeader-title {
        font-size: 28px;

    }
}

/* Media query for screens between 768px and 991px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {}

/* Media query for screens between 992px and 1199px (e.g., larger tablets and small laptops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

/* Media query for screens 1200px and larger (e.g., desktops) */
@media only screen and (min-width: 1200px) {}