.Footer-main-container {
    position: relative;
    z-index: 1 !important;
    margin-top: 800px;
    background-color: #001e00;
    color: white !important;
    padding: .5rem 2rem 0 2rem;
}

.Footer_Container {
    margin: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* list-style-type: none; */
    font-family: var(--font-base);
    align-content: center;

}

.Footer_AboutUs_Section,
.Footer_Services_Section,
.Footer_ContactUs_Section {
    width: 25%;
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.Footer_AboutUs_title,
.Footer_Services_title,
.Footer_ContactUs_title {
    font-size: 16px;
    font-weight: bold;
    margin: 1.5rem auto;
}

.Footer_AboutUs_title:hover,
.Footer_Services_title:hover,
.Footer_ContactUs_title:hover {
    color: white;
    text-decoration: none;
}


li {
    list-style-type: none;
    margin: .5rem auto;
    font-size: 15px;

}

/* Links Style */
li {
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

li:hover {
    color: var(--color-LightGreen);
    text-decoration: underline;
}

/* Subscribe section start */
.Footer_Images_Section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;

}

.appStoreImageOne,
.appStoreImageTwo {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.appStoreImageOne>h3 {
    font-family: var(--font-base);
    font-size: 24px;
    color: var(--color-Yellow);
}


.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;

}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: var(--color-LightGreen);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: var(--color-LightGreen);
    transform: translateY(-30px);
}

/* Subscribe section end */

.thin-line {
    width: 90%;
    margin: 0 auto 1rem auto;
    height: 0.15px;
    background-color: white;
}

.Footer_SocialMedia_Section_cont {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Footer_SocialMedia_Section {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    flex-direction: row;
    width: 49%;

}

.Footer_SocialMedia_Ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;


}

.Footer_FollowUs_Text {
    font-family: var(--font-base);
    font-size: 16px;
    cursor: default;
}

.Footer_FollowUs_Text:hover {
    color: white;
    text-decoration: none;
}

.Footer_SocialMedia_Ul li a {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 2rem;
    font-size: 22px;
    margin-bottom: 15px;
    align-items: center;
    position: relative;
    display: inline-block;
    padding: 0;
    transition: transform 0.2s ease-in-out;
}

.Footer_SocialMedia_Ul li a:hover {
    transform: scale(1.1);
    
}

.Footer_SocialMedia_Ul li a:hover::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 120%;
    height: 100%;
    border: 2px solid white;
    box-sizing: content-box;
    border-radius: 50%;
    transform: scale(1.2);
    animation: heartbeat 1s infinite alternate;
}

@keyframes heartbeat {
    to {
        transform: scale(1.1);
    }
}

.AllRightReserve {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    align-content: center;
    font-family: var(--font-base);
    font-size: 14px;
    margin: 0 5rem;
    margin-bottom: 15px;
}

.AllRightReserve:hover {
    color: white;
    text-decoration: none;
}




/* Extra small devices (phones) */
@media only screen and (max-width: 576px) {
    .Footer_Container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-content: center;
    }

    .Footer_AboutUs_Section,
    .Footer_Services_Section,
    .Footer_ContactUs_Section {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }


    .Footer_Images_Section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .appStoreImageOne,
    .appStoreImageTwo {
        width: 100%;
        max-width: 150px;
        margin: 1rem auto;
    }


    .Footer_SocialMedia_Section_cont {
        flex-direction: column;
        margin: auto 2rem;
    }

    .Footer_SocialMedia_Section {
        width: 100%;
        justify-content: center;
    }

    .Footer_SocialMedia_Ul li a {
        margin: auto 1rem;


    }

    .AllRightReserve {

        justify-content: center;
        width: 100%;
        align-content: center;
        margin: 1rem auto;

    }



}

/* Small devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {


    .Footer_AboutUs_Section,
    .Footer_Services_Section,
    .Footer_ContactUs_Section {
        width: 100%;
        margin: 1rem;
    }


    .Footer_Images_Section {
        width: 100%;
    }

    .appStoreImageOne,
    .appStoreImageTwo {
        width: 100%;
        max-width: 250px;
        margin: 1rem auto;
    }


    .Footer_SocialMedia_Section_cont {
        flex-direction: column;
        margin: auto 2rem;
    }

    .Footer_SocialMedia_Section {
        width: 90%;
        justify-content: center;
    }

    .AllRightReserve {

        justify-content: center;
        width: 100%;
        margin: 1rem auto;

    }

}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles */
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles */
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
    /* Styles */
}