@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Dancing+Script:wght@400;700&family=Poppins:wght@300;400;700&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Mono:wght@100&display=swap');
/* New */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;
  --font-accent: 'Quicksand', sans-serif;
  --font-dancing: 'Dancing Script', cursive;
  --font-Railway: 'Roboto Mono', monospace;

  --color-Green: #51f143;
  --color-LightGreen: #9BF244;
  --color-LightGreen_a: #81b221;
  --color-LightGreen_b: #6a9930;
  --color-DarkGreen: #0F2E0F;
  --color-footer: #001e00;
  --color-Yellow: #f3c22b;
  --color-YellowLight: #cfef00;
  --color-Grey: #011205;

  /* Dashboard */
  --color-asd1: #f7faf7;
  --color-asd2: #f1f8f5;
  --color-icon: #108a00;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}