.DashTitle-main-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 8px 1rem;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: var(--color-Grey);
    color: white;

}


.DashTitle-title {
    font-family: var(--font-base);
    font-size: 16px;
    align-items: center;
}

.DashTitle-page-icon {
    font-size: 22px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: var(--color-Yellow);
}

.DashTitle-pannel-option {
    font-family: var(--font-base);
    font-size: 14px;
    text-decoration: underline;
}